@model List<ShopItem>
@{
    ViewData["Title"] = "Магазин";
    Layout = "/Views/_Layout.cshtml";

    ViewData["IsShop"] = true;

    var user = await _BankServices.GetUser();
    var admin = false;
    var prem = false;

    var weith = new WeithLevel
    {
        Id = 1,
        Name = "None"
    };

    if (user != null)
    {
        admin = _BankServices.IsUserAdminNonAs(user);
        prem = _BankServices.UserHavePremium(user);
        weith = await _BankServices.GetWeithLevelUser(user.Welfare + (int)(user.WelfareItem * 3.20));
    }

}

    <div class="box">
        <div class="block-container name-container c-white">
            <h1 class="c-title text-normal">Магазин</h1>
        </div>

        <div class="bg-hover-post">
            <div>
                <p class="poster-mega-text"><a href="@Url.Action("AllItems","Bank")">Открытие магазина</a></p>
                <p>Магазин товаров открыт, покупайте любые товары за кеклары и хвастайтесь перед друзьями</p>
            </div>
        </div>

        <a class="menu-url" href="@Url.Action("BuyCase", "Bank")">Купить ящик с предметами</a>
        <a class="menu-url" href="@Url.Action("AllItems", "Bank")">Все предметы</a>
        <a class="menu-url" href="@Url.Action("AllItems", "Bank", new { type = "type_car" })"><i class="fas fa-car"></i> Машины</a>
        <a class="menu-url" href="@Url.Action("AllItems", "Bank", new { type = "type_home" })"><i class="fas fa-home"></i> Недвижимость</a>
        <a class="menu-url" href="@Url.Action("AllItems", "Bank", new { type = "type_accsessor" })"><i class="fas fa-ring"></i> Аксессуары</a>
        <a class="menu-url" href="@Url.Action("AllItems", "Bank", new { type = "type_clothes" })"><i class="fas fa-tshirt"></i> Одежда</a>
        <a class="menu-url" href="@Url.Action("AllItems", "Bank", new { type = "type_gadget" })"><i class="fas fa-phone"></i> Гаджеты </a>
        <a class="menu-url" href="@Url.Action("AllItems", "Bank", new { type = "type_other" })"><i class="fas fa-ellipsis-h"></i> Остальное</a>
        <a class="menu-url" href="@Url.Action("AllItems", "Bank", new { rare = 0 })">Обычные</a>
        <a class="menu-url" href="@Url.Action("AllItems", "Bank", new { rare = 1 })">Дорогие</a>
        <a class="menu-url" href="@Url.Action("AllItems", "Bank", new { rare = 2 })">Редкие</a>
        <a class="menu-url" href="@Url.Action("AllItems", "Bank", new { rare = 3 })">Эпичные</a>
        <a class="menu-url" href="@Url.Action("AllItems", "Bank", new { rare = 4 })">Легендарные</a>
        <form class="admin-search-form" action="@Url.Action("AllItems", "Bank")" method="get">
            <i class="fal fa-search icon-search"></i><input value="@ViewBag.Search" name="search" id="search" type="text" />
        </form>

        <div class="block-container posts-container">

            @foreach (var lot in Model.Where(m => m.Value > 0).OrderByDescending(m => m.Value))
            {
                var org = await _BankServices.GetOrganizations(lot.OrgId);

                var type = "";

                if (lot.RareType == 0)
                {
                    type = "Обычная";
                }
                else if (lot.RareType == 1)
                {
                    type = "Дорогая";
                }
                else if (lot.RareType == 2)
                {
                    type = "Редкая";
                }
                else if (lot.RareType == 3)
                {
                    type = "Эпическая";
                }
                else if (lot.RareType == 4)
                {
                    type = "ЛЕГЕНДАРНАЯ";
                }

                var price = lot.Price;

                if (prem)
                {
                    price = Convert.ToInt32(price * 0.9);
                }

                price = price - ((price / 100) * ((weith.Id - 1) * 2));

                if (org == null)
                {

                    if (admin)
                    {
                        <div class="post-item no-padding block-item-rare-@lot.RareType" style="background: #dad8d8">
                            <a href="@Url.Action("SingleItem", "Bank", new { id = lot.Id })" class="post-item-name">
                                <div class="wpg-head">
                                    <div class="wrapp-image-cut no-padding">
                                        <img class="post-image" src="@lot.ImageUrl">
                                    </div>

                                    <span class="post-item-name post-item-name-url" href="@Url.Action("SingleItem", "Bank", new { id = lot.Id })">@lot.Name</span>
                                </div>

                            </a>
                            <div class="wpg-list-info-block">
                                <p class="post-item-text">@lot.Short_Desc</p>
                                <p class="post-item-date"><i class="fas fa-comment-alt-dollar"></i> Стоимость @price.ToString("N0") Мемлар</p>
                                <p class="post-item-date"><i class="fas fa-caret-square-right"></i> Редкость: <span class="text-rare-@lot.RareType">@type</span></p>
                                <p class="post-item-date">Добавил: УДАЛЕНО</p>
                                <p class="post-item-date">Осталось: @lot.Value Шт.</p>
                            </div>
                        </div>
                    }
                }
                else
                {

                    <div class="post-item no-padding block-item-rare-@lot.RareType" style="@((lot.Value == 0) ? "background: #dad8d8;" : "")">
                        <a href="@Url.Action("SingleItem", "Bank", new { id = lot.Id })" class="post-item-name">
                            <div class="wpg-head">
                                <div class="wrapp-image-cut no-padding">
                                    <img class="post-image" src="@lot.ImageUrl">
                                </div>

                                <span class="post-item-name post-item-name-url" href="@Url.Action("SingleItem", "Bank", new { id = lot.Id })">@lot.Name</span>
                            </div>

                        </a>
                        <div class="wpg-list-info-block">
                            <p class="post-item-text">@lot.Short_Desc</p>
                            <p class="post-item-date"><i class="fas fa-comment-alt-dollar"></i> Стоимость @price.ToString("N0") Мемлар</p>
                            <p class="post-item-date"><i class="fas fa-caret-square-right"></i> Редкость: <span class="text-rare-@lot.RareType">@type</span></p>
                            <p class="post-item-date">Добавил: @org.Name</p>
                            <p class="post-item-date">Осталось: @lot.Value Шт.</p>
                        </div>
                    </div>
                }
            }
        </div>

        <div class="navigatin-block">
            <div class="nav-inner">
                @for (var a = 1; a <= ViewBag.CountPage; a++)
                {
                    @if (a == @ViewBag.CurrectPage)
                    {
                        <a href="@Url.Action("AllItems","Bank", new { page = a, type = ViewBag.Type, rare = ViewBag.Rare })" class="navig on">@(a)</a>
                    }
                    else
                    {
                        <a href="@Url.Action("AllItems","Bank", new { page = a, type = ViewBag.Type, rare = ViewBag.Rare })" class="navig">@(a)</a>
                    }
                }
            </div>
        </div>
    </div>